:host {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 15px;
    gap: 20px;
}

.theme {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.energies {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.energies input {
    width: 8em;
}

label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search input {
    width: 15em
}

th,
td {
    align-items: center;
    padding: 2px 8px;
}

td.number {
    text-align: right;
}

.color {
    border-radius: 5px;
    height: 1em;
    width: 1em;
}

.chart {
    width: 100%;
    max-width: 1000px;
    height: 350px;
}

.description {
    margin-top: 1em;
    max-width: 650px;
}
