<div class="theme">
    <span class="material-symbols-outlined" *ngIf="theme === 'dark'" (click)="toggleTheme()">light_mode</span>
    <span class="material-symbols-outlined" *ngIf="theme === 'light'" (click)="toggleTheme()">dark_mode</span>
</div>
<div class="energies">
    <label>
        <span>Wavelength / Å</span>
        <input type="number" step="0.0001" [(ngModel)]="wavelength">
    </label>
    <label>
        <span>Energy / eV</span>
        <input type="number" [(ngModel)]="energy">
    </label>
</div>
<table *ngIf="selected.length > 0">
    <thead>
        <tr>
            <th colspan="2">Element</th>
            <th>f'</th>
            <th>f"</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let element of selected">
            <td>{{element.z}}</td>
            <td>{{element.symbol}}</td>
            <td class="number">{{f1(element.z, energy) | number: '1.3-3'}}</td>
            <td class="number">{{f2(element.z, energy) | number: '1.3-3'}}</td>
            <td>
                <div class="color" [style.background-color]="element.color"></div>
            </td>
            <td><span class="material-symbols-outlined" (click)="deselect(element)">close</span></td>
        </tr>
    </tbody>
</table>
<datalist id="elements">
    <option *ngFor="let element of elements" [value]="element.label"></option>
</datalist>
<label class="search" *ngIf="selected.length < 5">
    <span class="material-symbols-outlined">search</span>
    <input list="elements" placeholder="Add element" [(ngModel)]="search" (input)="searchInput()">
</label>
<div class="chart" *ngIf="selected.length > 0">
    <canvas baseChart [type]="'scatter'" [data]="chartData" [options]="chartOptions" [legend]="chartLegend"
        (chartClick)="chartClicked($event)"></canvas>
</div>
<p class="faded" *ngIf="selected.length > 0">
    Pinch, scroll or ctrl+drag to zoom. Drag to pan. Tap/click to choose an energy.
</p>
<p class="description faded">
    Calculates anomalous scattering factors (f' and f") using the
    <a href="https://doi.org/10.1107/S0567739481000600">Cromer-Liberman</a>
    algorithm with corrections from
    <a href="https://doi.org/10.1107/S0108767389010718">Kissel and Pratt</a>.
    Uses the implementation in
    <a href="https://gemmi.readthedocs.io/en/latest/hkl.html#anomalous">Gemmi</a>
    compiled to WebAssembly using
    <a href="https://emscripten.org">Emscripten</a>.
</p>
